$react-blue : #282c34;


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: $react-blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  img {
    width: 100px;
    margin: 10px;
  }

  .github {
    width: 150px;
  }

  p {
    width: 500px;
  }

  section {
    border: 5px solid white;
  }

}

.App-link {
  color: #61dafb;
}

form {
  
  input {
    display: block;
    margin: 10px;
    height: 30px;
  }

  button {
    margin-top: 20px;
    padding: 15px;
    width: 130px;
    border-radius: 10px;
    background-color: black;
    color: white;
  }

}


